$primary-bg: #eeeeee;
$secondary-bg: darken($primary-bg, 25%);

$text-color: #292f33;
$link-color: lighten($secondary-bg, 25%);
$link-color-hover: darken($link-color, 25%);

$header-bg: #6cadde;
$header-color: #fff;
$header-link-color: #fff;
$header-link-color-hover: darken($header-link-color, 25%);

$font-size: 15px;
$header-font-size: 25px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$body-width: 960px;
