@import 'mixins';
@import 'theme';

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background-color: $primary-bg;
	color: $text-color;

	width: 100%;
	margin: auto;

	padding-bottom: 25px;
}

img {
	vertical-align: middle;
}

body > header {
	width: 100%;
	background-color: $header-bg;
	color: $header-color;
	padding: 10px 20px 10px 50px;
	font-size: $header-font-size;
	display: flex;
	display: -webkit-flex;

	div {
		-webkit-flex: 1;
		flex: 1;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		-webkit-flex: none;
		flex: none;

		li {
			display: inline;
			position: relative;
		}
	}
}

#content {
	margin: auto;
	max-width: 650px;
	margin-top: 25px;
	line-height:1.6;
}

#comments {
	margin-top: 50px;
}
