%ul
	%li
		Anne Roth -
		%a{href: 'https://twitter.com/annalist'} @annalist
		\/
		%a{href: 'https://twitter.com/Anne_Roth'} @Anne_Roth
	%li
		Jens Kubieziel -
		%a{href: 'https://twitter.com/qbi'} @qbi
	%li
		Colin Childs -
		%a{href: 'https://twitter.com/phoul'} @phoul
	%li
		Coldhak -
		%a{href: 'https://twitter.com/coldhakca'} @coldhakca
	%li
		Sascha Wagner -
		%a{href: 'https://twitter.com/sashw89'} @sashw89
	%li
		Aeris -
		%a{href: 'https://twitter.com/aeris22'} @aeris22
	%li
		Collectif Café Vie Privée -
		%a{href: 'https://twitter.com/chiffrofete'} @chiffrofete
	%li
		Philipp Winter -
		%a{href: 'https://twitter.com/__phw'} @__phw
	%li
		Doc Josiah Boone -
		%a{href: 'https://twitter.com/docboone71'} @docboone71
	%li
		David Robinson -
		%a{href: 'https://twitter.com/jdormansteele'} @jdormansteele
	%li
		Seattle Privacy Coalition -
		%a{href: 'https://twitter.com/seattleprivacy'} @seattleprivacy
	%li
		Cassie -
		%a{href: 'https://twitter.com/myriadmystic'} @myriadmystic
	%li
		Cédric Jeanneret -
		%a{href: 'https://twitter.com/swisstengu'} @swisstengu
		\/
		%a{href: 'https://twitter.com/ethack_org'} @ethack_org
		\/
		%a{href: 'https://twitter.com/orwallapp'} @orwallapp
	%li
		Hendrik Kraft -
		%a{href: 'https://twitter.com/hendrikkraft'} @hendrikkraft
	%li
		Fabio Noris -
		%a{href: 'https://twitter.com/norisfabio'} @norisfabio
	%li
		Christopher Talib -
		%a{href: 'https://twitter.com/_piks3l'} @_piks3l
	%li
		Michael Carbone -
		%a{href: 'https://twitter.com/wandermfc'} @wandermfc
	%li
		Patrick R McDonald -
		%a{href: 'https://twitter.com/antagonismorg'} @antagonismorg
	%li
		ctrlplus -
		%a{href: 'https://twitter.com/ctrlplus_'} @ctrlplus_
	%li
		Christian Tanner -
		%a{href: 'https://twitter.com/christiantanner'} @christiantanner
	%li
		Wendy -
		%a{href: 'https://twitter.com/Wendy71x'} @Wendy71x
	%li
		Phil Mocek -
		%a{href: 'https://twitter.com/pmocek'} @pmocek
	%li
		economicmayhem.com -
		%a{href: 'https://twitter.com/economicmayhem'} @economicmayhem
	%li
		Andrea Shepard -
		%a{href: 'https://twitter.com/puellavulnerata'} @puellavulnerata
	%li
		Lee Colleton -
		%a{href: 'https://twitter.com/sleepylemur'} @sleepylemur
		\/
		%a{href: 'https://twitter.com/WikiLeaksEV'} @WikiLeaksEV
	%li
		EvoluSiN -
		%a{href: 'https://twitter.com/EvoluSiN'} @EvoluSiN
