%ul
	%li
		Anne Roth —
		%a{href: 'https://twitter.com/annalist'} @annalist
		\/
		%a{href: 'https://twitter.com/Anne_Roth'} @Anne_Roth
		—
		%a{href: 'mailto:annalist[at]riseup.net'} annalist[at]riseup.net
	%li
		Jens Kubieziel —
		%a{href: 'https://twitter.com/qbi'} @qbi
		—
		%a{href: 'mailto:jens[at]kubieziel.de'} jens[at]kubieziel.de
	%li
		Colin Childs —
		%a{href: 'https://twitter.com/phoul'} @phoul
		—
		%a{href: 'mailto:colin[at]torproject.org'} colin[at]torproject.org
	%li
		Coldhak —
		%a{href: 'https://twitter.com/coldhakca'} @coldhakca
		—
		%a{href: 'mailto:contact[at]coldhak.ca'} contact[at]coldhak.ca
	%li
		Sascha Wagner —
		%a{href: 'https://twitter.com/sashw89'} @sashw89
	%li
		Aeris —
		%a{href: 'https://twitter.com/aeris22'} @aeris22
		—
		%a{href: 'mailto:aeris+ssa[at]imirhil.fr'} aeris+ssa[at]imirhil.fr
	%li
		Herdir —
		%a{href: 'https://twitter.com/Herdir'} @Herdir
		—
		%a{href: 'mailto:hacker[at]herdir.net'} hacker[at]herdir.net
	%li
		Collectif Café Vie Privée —
		%a{href: 'https://twitter.com/chiffrofete'} @chiffrofete
	%li
		Philipp Winter —
		%a{href: 'https://twitter.com/__phw'} @__phw
	%li
		Doc Josiah Boone —
		%a{href: 'https://twitter.com/docboone71'} @docboone71
	%li
		David Robinson —
		%a{href: 'https://twitter.com/jdormansteele'} @jdormansteele
		—
		%a{href: 'mailto:dwrob[at]oneeyedman.net'} dwrob[at]oneeyedman.net
	%li
		Seattle Privacy Coalition —
		%a{href: 'https://twitter.com/seattleprivacy'} @seattleprivacy
		—
		%a{href: 'mailto:contact[at]seattleprivacy.org'} contact[at]seattleprivacy.org
	%li
		Cassie —
		%a{href: 'https://twitter.com/myriadmystic'} @myriadmystic
	%li
		Cédric Jeanneret —
		%a{href: 'https://twitter.com/swisstengu'} @swisstengu
		\/
		%a{href: 'https://twitter.com/ethack_org'} @ethack_org
		\/
		%a{href: 'https://twitter.com/orwallapp'} @orwallapp
	%li
		Hendrik Kraft —
		%a{href: 'https://twitter.com/hendrikkraft'} @hendrikkraft
		—
		%a{href: 'sibiuaner[at]riseup.net'} sibiuaner[at]riseup.net
	%li
		Fabio Noris —
		%a{href: 'https://twitter.com/norisfabio'} @norisfabio
	%li
		Christopher Talib —
		%a{href: 'https://twitter.com/_piks3l'} @_piks3l
	%li
		Michael Carbone —
		%a{href: 'https://twitter.com/wandermfc'} @wandermfc
	%li
		Patrick R McDonald —
		%a{href: 'https://twitter.com/antagonismorg'} @antagonismorg
	%li
		ctrlplus —
		%a{href: 'https://twitter.com/ctrlplus_'} @ctrlplus_
	%li
		Christian Tanner —
		%a{href: 'https://twitter.com/christiantanner'} @christiantanner
	%li
		Wendy —
		%a{href: 'https://twitter.com/Wendy71x'} @Wendy71x
	%li
		Phil Mocek —
		%a{href: 'https://twitter.com/pmocek'} @pmocek
		—
		%a{href: 'mailto:phil[at]mocek.org'} phil[at]mocek.org
	%li
		economicmayhem.com —
		%a{href: 'https://twitter.com/economicmayhem'} @economicmayhem
	%li
		Andrea Shepard —
		%a{href: 'https://twitter.com/puellavulnerata'} @puellavulnerata
		—
		%a{href: 'mailto:andrea[at]persephoneslair.org'} andrea[at]persephoneslair.org
	%li
		Lee Colleton —
		%a{href: 'https://twitter.com/sleepylemur'} @sleepylemur
		\/
		%a{href: 'https://twitter.com/WikiLeaksEV'} @WikiLeaksEV
		—
		%a{href: 'mailto:lee@colleton.net'} lee@colleton.net
		\/
		%a{href: 'mailto:silently[at]riseup.net'} silently[at]riseup.net
	%li
		EvoluSiN —
		%a{href: 'https://twitter.com/EvoluSiN'} @EvoluSiN
	%li
		Jeremy Rand —
		%a{href: 'https://twitter.com/biolizard89'} @biolizard89
	%li
		Peter Welchering
		%a{href: 'https://twitter.com/welchering'} @welchering
	%li
		Theresia Reinhold —
		%a{href: 'https://twitter.com/Pandemonium21'} @Pandemonium21
	%li
		Fitzkarraldo —
		%a{href: 'https://twitter.com/fitzkarraldo'} @fitzkarraldo
	%li
		CR1PT0 —
		%a{href: 'https://twitter.com/CR1PT0'} @CR1PT0
	%li
		Wagabow —
		%a{href: 'https://twitter.com/Wagabow'} @Wagabow
		—
		%a{href: 'mailto:wagabow[at]riseup.net'} wagabow[at]riseup.net
	%li
		Kurtis Hanna —
		%a{href: 'https://twitter.com/CaptainKurtis'} @CaptainKurtis
	%li
		Restore The Fourth Minnesota —
		%a{href: 'https://twitter.com/RT4MN'} @RT4MN
