%ul
	%li Anne Roth - @annalist / @Anne_Roth
	%li Jens Kubieziel - @qbi
	%li Colin Childs - @phoul
	%li Coldhak - @coldhakca
	%li Sascha Wagner - @sashw89
	%li Aeris - @aeris22
	%li Café Vie Privée - @chiffrofete
	%li Philipp Winter - @__phw
	%li Doc Josiah Boone - @docboone71
	%li David Robinson - @jdormansteele
	%li Seattle Privacy Coalition - @seattleprivacy
	%li Cassie - @myriadmystic
	%li Cédric Jeanneret - @swisstengu @ethack_org @orwallapp
	%li Hendrik Kraft - @hendrikkraft
	%li Fabio Noris - @norisfabio
	%li Christopher Talib - @_piks3l
	%li Michael Carbone - @wandermfc
	%li Patrick R McDonald - @antagonismorg
	%li ctrlplus - @ctrlplus_
	%li Christian Tanner - @christiantanner
	%li Wendy - @Wendy71x
