%h1 Fragen zu der E-Mail von Twitter an mögliche Opfer des staatlich motivierten Hackerangriffs

%p
	Es sind mittlerweile einige Wochen vergangen seit Twitter einige seiner Nutzer darauf hingewiesen hat, dass ihre Twitter-Accounts möglicherweise das Ziel eines Hackerangriffs geworden sind, hinter dem staatlich motivierte [/unterstützte] Täter stehen. Einige von uns, die diese Meldung erhalten haben, haben dies auf Twitter veröffentlicht, andere haben die Medien kontaktiert. Der Vorfall erzeugte bedeutendes Interesse und Verwirrung.

%p
	Wir haben gehofft, nach und nach mehr darüber herauszufinden. Einige von uns haben E-Mails mit Fragen an Twitter gesendet. Wir dachten, es gäbe nachfolgende Artikel von Journalisten, die zwischen den Zeilen lesen, die diese Mails mit ähnlichen verknüpfen, die von anderen Unternehmen versendet wurden, oder sich mit Insider-Quellen bei Twitter in Verbindung setzen.

%p
	Nichts.

%p
	Heute sind wir noch immer genauso ahnungslos wie am Anfang. Wir erwarten Antworten auf die folgenden Fragen:

%h2 Art der Angriffe

%ul
	%li Wann fanden die Angriffe statt -- unmittelbar vor dem Senden der Warnung im Dezember 2015, oder über einen längeren Zeitraum davor?

	%li Sind die Angriffe weiterhin im Gange?

	%li Woran waren die Angreifer interessiert? Die E-Mail spricht von Telefonnummern, IP-Adressen und E-Mails. Sonst noch etwas?

	%li Wie wurden die Angriffe entdeckt?

	%li Handelte es sich um automatisierte Brute-Force-Angriffe, oder individuelle Angriffe, hinter denen ein Mensch steckt, oder etwas anderes?

	%li Haben die Angreifer administrativen Zugang oder einen anderen direkten Zugriff zu Twitters Servern erlangt?

	%li Warum vermutet Twitter, dass die Angriffe von staatlich motivierten [/unterstützten] Tätern stammen?

	%li Wie definiert Twitter einen staatlich motivierten [/unterstützten] Täter?

	%li Hat Twitter einen bestimmten Staat als Ausgangspunkt der Angriffe identifiziert?

	%li Stammen die Angriffe von Tätern, die mit der US-Regierung in Verbindung stehen?

	%li Stammen alle Angriffe von denselben Tätern?

	%li Was weiß Twitter noch über die Angriffe?


%h2 Gründe für die Auswahl der Ziele

%ul
	%li Was ist der gemeinsame Nenner der betroffenen Benutzerkonten? Gibt es einen?

	%li Wurden Accounts angegriffen weil sie kein Tor nutzen / weil sie Tor nutzen / unabhängig von der Nutzung von Tor?


%h2 Twitters Reaktion

%ul
	%li Werden die Benachrichtigungen von Twitter von Menschen oder Maschinen gesendet, aufgrund von auffälligem Verhalten?

	%li Warum fing Twitter genau jetzt an, die E-Mails zu senden?

	%li Warum hat Twitter die Nachricht überhaupt gesendet?

	%li Andere Unternehmen haben ebenfalls begonnen, ähnliche E-Mails zu senden, z. B. Facebook, Google und Yahoo. Ist dies ein abgestimmtes Vorgehen? Was ist der Hintergrund oder die Absicht der Benachrichtigungen?

	%li Warum exisiteren verschiende Arten der Benachrichtigung (E-Mail, Pop-up)?

	%li Was steckt hinter der Empfehlung von Twitter, Tor zu benutzen, wo doch schon viele der betroffenen Nutzer Tor verwenden?

%h2 Gesetzmäßigkeiten

%ul
	%li Warum erzählt Twitter uns nicht mehr?

	%li Wurde für Twitter eine Nachrichtensperre verhängt?

	%li Gab es Durchsuchungsbefehle, Strafandrohungen, oder National Security Letters in Verbindung mit den Angriffen?

%p
	Wir, die Unterzeichner, sind die Eigentümer einiger der betroffenen Konten, die über die Angriffe informiert wurden. Andere Twitter-Nutzer haben entschieden, nicht öffentlich zu machen, dass sie Ziel von Angriffen wurden.

%p
	Wir alle wollen wissen, wie wir in die Vorfälle verwickelt wurden.

%p
	Falls jemand, der diesen Beitrag liest, mehr darüber weiß, lass es uns bitte wissen.

%p
	Und an unsere Freunde bei den Medien: Gerne dürft ihr
	%a{href: 'mailto:ssa@kubieziel.de'} uns kontaktieren
	, wenn euch dies bei der Berichterstattung hilft.

%h1 Signaturen
= partial 'sign'
