%h1 Questions sur la notification Twitter d’une attaque possible par des « acteurs étatiques »

%p
	Il y a plusieurs semaines que Twitter a alerté certains de ses utilisateurs que des acteurs dits parrainés par un état pourraient avoir tenté de pirater leurs comptes.
	Certains d’entre nous qui ont reçu cette alerte ont publiés l’information sur Twitter quand d’autres ont contacté les médias.
	L’incident a suscité un intérêt considérable mais aussi laisser tout le monde perplexe.

%p
	Nous espérions en apprendre d’avantage au fur et à mesure.
	Certains d’entre nous ont envoyé des mails à Twitter demandant plus de précisions.
	Nous nous attendions à du suivi de la part des journalistes qui allaient investiguer l’information, ou qui auraient reliés ces événements à d’autres similaires, ou qui auraient parlé à des contacts internes à Twitter.

%p
	Mais rien.

%p
	Aujourd’hui, nous sommes tout aussi désemparés qu’au commencement.
	Nous attendons les réponses aux questions suivantes :

%h2 Nature des attaques

%ul
	%li Quand ces attaques se sont-elles produites - juste avant les premières alertes en décembre 2015, ou bien avant ?

	%li Ces attaques sont-elles encore en cours ?

	%li À quoi les attaquants se sont-ils intéressés ? Le message d’alerte parle de numéros de téléphone, d’adresses IP et d’email. Y avait-il autre chose ?

	%li Comment ces attaques ont-elles été détectées ?

	%li Ces attaques sont-elles des bruteforce automatisés ou des attaques personnalisées avec un humain derrière, ou quelque chose d’autre ?

	%li Les attaquants ont-ils pu obtenir un accès administratif ou autre accès direct aux serveurs de Twitter ?

	%li Pourquoi Twitter soupçonne que ces attaques proviennent d’acteurs parrainés par un état ?

	%li Comment Twitter définir un acteur parrainé par un État ?

	%li Twitter a-t-il identifié un état spécifique comme source des attaques ?

	%li Ces attaques proviennent-elles d’acteurs ayant des liens avec le gouvernement américain ?

	%li Ces attaques proviennent-elles toutes du même acteur ?

	%li Qu’est-ce que Twitter sait d’autre sur ces attaques ?

%h2 Raisons de l’attaque

%ul
	%li Quel est l’élément commun, le cas échéant, des comptes ciblés?

	%li Les comptes attaqués l’ont-ils été parce qu’ils n’utilisaient pas Tor / à cause de l’utilisation de Tor / malgré l’utilisation de Tor ?

%h2 L’action de Twitter

%ul
	%li Les alertes de Twitter sont-elles envoyées par manuellement ou automatiquement en réponse à une activité suspecte ?

	%li Pourquoi Twitter n’a-t-il commencé à envoyer les alertes qu’à cette date ?

	%li D’autres entreprises ont commencé à envoyer des e-mails similaires, par exemple, Facebook, Google et Yahoo. Est-ce un effort concerté ? Quel est le contexte ou le but de ses notifications ?

	%li Pourquoi y a-t-il différents types de notifications (email vs popup) ?

	%li Quel est le but de la recommandation de Twitter d’utiliser Tor, alors que de nombreux comptes ciblés l’utilisaient déjà ?

%h2 Aspect légal

%ul
	%li Pourquoi Twitter n’en dit pas plus ?

	%li Est-ce que le silence de Twitter est lié à une obligation de silence ?

	%li Twitter a-t-il reçu des mandats de saisi, des citations à comparaître, ou des lettres de sécurité nationale en lien avec ces attaques ?

%p
	Nous, les signataires, sommes titulaires de comptes qui ont été avisés d’une éventuelle attaque.
	D’autres utilisateurs de Twitter ont décidé de ne pas révéler publiquement qu’ils ont été ciblés.

%p
	Nous voulons tous savoir comment nous sommes arrivés dans cette situation.

%p
	Si quelqu’un lisant ceci a plus d’informations sur ce qui est arrivé, s’il vous plaît, venez le partager avec nous.

%p
	Et pour nos amis des médias : n’hésitez pas à
	%a{href: 'mailto:ssa@kubieziel.de'} nous contacter
	si cela peut vous aider.

%h1 Signataires
= partial 'sign'

= partial 'comments'
