%h1 Questions about Twitter's notice of possible attacks by “state-sponsored actors”

%p
	It has been several weeks since Twitter alerted some of its users that so-called state-sponsored actors may have attempted to hack their accounts.
	Some of us who received this alert published the news on Twitter, and some of us talked to the media.
	The incident generated considerable interest and puzzlement.

%p
	We hoped to learn more by and by.
	Some of us sent inquiring emails to Twitter.
	We expected follow-up reporting by journalists who had read between the lines, had connected these alerts to other similar ones sent by different companies, or had talked to inside sources at Twitter.

%p
	Nothing.

%p
	Today, we are as clueless as when this started.
	We await answers to the following questions:

%h2 Nature of the attacks

%ul
	%li When did the attacks happen -- directly prior to the first alerts in December 2015, or during a longer period previously?

	%li Are the attacks ongoing?

	%li What were the attackers interested in? The alert email message speaks of phone numbers, IP addresses, and email.  Was there anything else?

	%li How were the attacks detected?

	%li Were these automated brute-force attacks, or customized attacks with a human behind them, or something else?

	%li Did the attackers gain administrative or other direct access to Twitter's servers?

	%li Why does Twitter suspect that the attacks came from state-sponsored actors?

	%li How does Twitter define a state-sponsored actor?

	%li Has Twitter identified any specific state as the source of the attacks?

	%li Have the attacks come from actors with ties to the US government?

	%li Are all of the attacks coming from the same actor(s)?

	%li What else does Twitter know about the attacks?

%h2 Reasons for targeting

%ul
	%li What is the common element, if any, among the targeted accounts?

	%li Were accounts attacked because of not using Tor / because of using Tor / despite using Tor?

%h2 Twitter's response

%ul
	%li Are Twitter's alerts sent by humans or by machines responding to irregular activity?

	%li Why did Twitter start sending the alerts now?

	%li Other companies have started sending out similar emails, e.g., Facebook, Google, and Yahoo. Is this a concerted effort? What is the background or the aim of the notifications?

	%li Why are there different kinds of notifications (email vs. popup)?

	%li What is the purpose of Twitter's recommendation to use Tor, when many of the targeted accounts already use Tor?

%h2 Legalities

%ul
	%li Why isn't Twitter telling us more?

	%li Is Twitter's silence the result of a gag order?

	%li Has Twitter received warrants, subpoenas, or National Security Letters in connection with the attacks?

%p
	We, the undersigned, are owners of accounts that were notified of a possible attack. Other Twitter users have decided not to publicly reveal that they were targeted.

%p
	We all want to know how we got into this.

%p
	If anybody reading this post has knowledge or insight into what happened, please share it with us.

%p
	And to our friends in the news media: Feel free to
	%a{href: 'mailto:ssa@kubieziel.de'} contact us
	if it helps your reporting.

%h1 Signatories
= partial 'sign'

= partial 'comments'
