%h1 Twitter: “Siete stati attaccati da degli attori che agiscono con il sostegno di uno stato”. Alcune domande in merito.

%p Sono passate diverse settimane da quando Twitter ha allertato alcuni dei suoi utenti in merito al fatto che i loro account fossero stati attaccati da attori che avevano agito con il sostegno di uno stato. Alcuni/e di noi hanno ricevuto questo messaggio di allerta e hanno ripubblicato la notizia su Twitter, mentre altri/e ne hanno parlato con i media. Tale accadimento ha generato una considerevele sorpresa ed interesse.

%p Speravamo di saperne di piu' col passare del tempo. Alcuni/e di noi hanno inviato delle e-mail a Twitter richiedendo delle spiegazioni. Ci aspettavamo ulteriori report da parte di giornalisti che fossero stati in grado di leggere tra le righe, di collegare questi alert ad altri messaggi simili inviati da differenti compagnie, o di parlare con delle fonti interne a Twitter.

%p Nulla di tutto cio'e' accaduto.

%p Ad oggi, non abbiamoidea di come tutto questo sia iniziato. Siamo aspettando dellerisposte in merito alle seguenti domande.

%h2 Natura degli attacchi.

%ul
	%li Quando sono accaduti questi attacchi – nel frangente temporale immediatamente a ridosso degli alert del Dicembre 2015, o in un periodo precedente piu' lungo?

	%li Gli attacchi sono ancora in corso?

	%li A che tipo di dati erano interessati gli attaccanti? La mail che abbiamo ricevuto parla di numeri di telefono, indirizzi IP e di posta elettronica. E' tutto o c'era anche dell'altro?

	%li In che modo gli attacchi sono stati rilevati?

	%li Si trattava di attacchi brute-force automatizati e condotti da una macchina, di attacchi ad-hoc portati avanti da un essere umano, o di attacchi di altro genere?

	%li Gli attaccanti sono riusciti ad avere accesso amministrativo o diretto ai server di Twitter?

	%li Per quale motivo Twitter sospetta che gli attori dietro a questi attacchi siano legati ad uno stato?

	%li In che modo Twitter definisce un attore che agisce con il sostegno di uno stato?

	%li Twitter ha identificato uno specifico stato come fonte degli attacchi?

	%li Gli attacchi sono stati intrapresi da attori che hanno legami con il governo statunitense?

	%li Tutti gli attacchi notificati provengono dal medesimo attore?

	%li Che altro sa Twitter in merito a tali attacchi?

%h2 Ragioni per cuigli obbiettivi sono stati presi di mira

%ul
	%li Qual'e' l'elemento comune, se ne esiste uno, tra gli account che sono stati presi di mira?

	%li Gli account in questione sono stati attaccati perche' usavano Tor/ perche' non usavano Tor / a dispetto del fatto che usassero Tor per accedere a Twitter?

%h2 La risposta diTwitter

%ul
	%li Gli avvisi che Twitter ha inoltrato ai suoi utenti sono stati spediti da degli umani o da delle macchine che hanno rilevato un'attivita' irregolare?

	%li Perche' Twitter ha cominciato adesso ad inviare questo genere di avvisi ai suoi utenti?

	%li Altre compagnie – come Facebook, Twitter, Google e Yahoo – hanno cominciato ad inviare simili e-mail. Si tratta di uno sforzo congiunto? Qual'e il retroterra e il motivo per cui tali notifiche vengono inviate?

	%li Qual e' stata la causa scatenante che ha spinto Twitter a spedire il messaggio?

	%li Per quale motivo ci sono differenti tipi di notifiche (email vs popup)?

	%li Perche' Twitter ha raccomandato agli utenti in questione di usare Tor, dal momento che molti/e di loro gia' lo fanno?

%h2 Aspetti legali

%ul
	%li Perche' Twitter non ci sta dicendo di piu'?

	%li Il silenzio di Twitter e' il risultato di gag order / un obbligo di non pubblicazione?

	%li Twitter ha ricevuto delle ingiunzioni, dei mandati di comparizione, o delle National Security Letters in qualche modo collegate con gli attacchi?


%p Noi, i/lefirmatari/e di questo appello, siamo i/le proprietari/e degl account a cui e' stata resa nota la possibilita' di aver subito un attacco.Altri utenti Twitter hanno deciso di non rivelare pubblicamente il fatto di esserne stati/e oggetto.

%p Tutti e tutte noi vogliamo sapere in che modo e perche' siamo stati/e coinvolti/e in questa vicenda.

%p Se qualcuno tra coloro che leggono questo post e' a conoscenza di cio' che e' accaduto, lo preghiamo di condividere con noi quest'informazione.

%p
	E ai nostri amici ed amiche nel mondo dei media e del giornalismo, diciamo: sentitevi liberi/e
	%a{href: 'mailto:ssa@kubieziel.de'} di contattarci
	se questo puo' esservi utile per coprire questi storia.

%h1 Firme
= partial 'sign'
