= image_tag 'en_big.png', alt: 'EN'
%ul
	%li
		%a{href: 'http://motherboard.vice.com/read/twitter-told-a-bunch-of-users-they-may-be-targets-of-a-state-sponsored-attack'}
			Motherboard : Twitter Told a Bunch of Users They May Be Targets of a 'State Sponsored Attack'
	%li
		%a{href: 'http://www.theguardian.com/technology/2015/dec/14/twitter-warns-users-hacked-state-sponsored-actors'}
			The Guardian : Twitter warns users they may have been hacked by 'state-sponsored actors'
	%li
		%a{href: 'http://www.cbsnews.com/news/some-twitter-accounts-may-be-targets-of-state-sponsored-hackers/'}
			CBS News : Some Twitter accounts may be targets of "state-sponsored" hackers
	%li
		%a{href: 'https://www.rt.com/news/325828-twitter-warning-state-hacking/'}
			RT : Twitter warns of 'state-sponsored' attacks designed to obtain sensitive data
	%li
		%a{href: 'https://bgr.com/2015/12/14/twitter-state-sponsored-attacks-alert/'}
			BGR : Twitter begins sending out alerts to victims of state-sponsored attacks
	%li
		%a{href: 'http://www.tripwire.com/state-of-security/security-data-protection/twitter-state-sponsored-hacking/'}
			Tripwire : Twitter Warns Users of Possible ‘State-Sponsored’ Attacks
	%li
		%a{href: 'http://fortune.com/2015/12/14/twitter-state-sponsored-hacks/'}
			Fortune : Twitter Warns Some Users of Possible 'State-Sponsored' Hacks
	%li
		%a{href: 'http://www.theverge.com/2015/12/12/9931178/twitter-state-sponsored-attack'}
			The Verge : Twitter users targeted by state-sponsored attackers
	%li
		%a{href: 'http://www.reuters.com/article/twitter-hack-idUSL1N14303L20151214'}
			Reuters : Twitter warns some users of possible state-sponsored cyber attack
	%li
		%a{href: 'http://www.aljazeera.com/news/2015/12/twitter-warns-state-sponsored-attacks-time-151214032016261.html'}
			Al Jazeera : Twitter warns of state-sponsored attacks for first time
	%li
		%a{href: 'http://www.cyberdefensemagazine.com/twitter-warns-victims-of-state-sponsored-attacks/'}
			Cyber Defense Magazine : Twitter warns victims of state-sponsored attacks
	%li
		%a{href: 'http://www.engadget.com/2015/12/12/twitter-warns-users-of-state-sponsored-attacks/'}
			Engadget : Twitter warns users targeted by state-sponsored attacks
	%li
		%a{href: 'http://www.pcmag.com/article2/0,2817,2496582,00.asp'}
			PC Mag : Twitter Notifies Some Users About State-Sponsored Attacks
	%li
		%a{href: 'http://www.technewsworld.com/story/82879.html'}
			Tech News World : Twitter Alerts Users to State-Sponsored Cyberattack Threat
	%li
		%a{href: 'https://www.fastcompany.com/3054613/fast-feed/twitter-now-alerts-users-to-state-sponsored-attacks'}
			Fast Company : Twitter Now Alerts Users To State-Sponsored Attacks
	%li
		%a{href: 'https://nakedsecurity.sophos.com/2015/12/14/twitter-users-targeted-in-possible-state-sponsored-attacks/'}
			Sophos : Twitter users targeted in possible state-sponsored attacks
	%li
		%a{href: 'http://arstechnica.com/tech-policy/2015/12/beware-of-state-sponsored-hackers-twitter-warns-dozens-of-users/'}
			Ars Technica : Beware of state-sponsored hackers, Twitter warns dozens of users
	%li
		%a{href: 'https://threatpost.com/twitter-warns-some-users-of-nation-state-attacks/115633/'}
			Threat Post : Twitter Warns Some Users of Nation-State Attacks

= image_tag 'de_big.png', alt: 'DE'
%ul
	%li
		%a{href: 'http://www.spiegel.de/netzwelt/netzpolitik/twitter-warnt-bestimmte-nutzer-vor-hackerangriffen-a-1067693.html'}
			Spiegel.de : E-Mail-Benachrichtigung: Twitter warnt Nutzer gezielt vor Hackerangriff
	%li
		%a{href: 'https://netzpolitik.org/2015/statesponsoredactors-und-twitter-ueberwiegend-aktivisten-als-ziel/'}
			Netzpolitik : #StateSponsoredActors und Twitter: Überwiegend Aktivisten als Ziel


= image_tag 'fr_big.png', alt: 'FR'
%ul
	%li
		%a{href: 'http://www.lefigaro.fr/secteur/high-tech/2015/12/13/32001-20151213ARTFIG00052-twitter-previent-ses-utilisateurs-lorsqu-un-etat-veut-espionner-leur-compte.php'}
			Le Figaro : Twitter prévient ses utilisateurs lorsqu'un État veut espionner leur compte
	%li
		%a{href: 'http://www.numerama.com/tech/134696-twitter-previent-des-activistes-francais-quun-etat-les-cible-peut-etre.html'}
			Numerama : Twitter prévient des activistes français qu’un État les ciblerait
	%li
		%a{href: 'http://www.zdnet.fr/actualites/twitter-alerte-ses-utilisateurs-quand-un-etat-cherche-a-les-espionner-39829726.htm'}
			ZDNet : Twitter alerte ses utilisateurs quand un Etat cherche à les espionner
	%li
		%a{href: 'http://www.franceinfo.fr/emission/nouveau-monde/2015-2016/des-comptes-twitter-surveilles-par-un-etat-15-12-2015-07-08'}
			France Info : Des comptes Twitter surveillés "par un Etat"
	%li
		%a{href: 'http://www.leparisien.fr/high-tech/twitter-previent-certains-utilisateurs-que-leur-compte-a-pu-etre-pirate-14-12-2015-5374095.php'}
			Le Parisien : Twitter prévient certains utilisateurs que leur compte a pu être piraté
	%li
		%a{href: 'http://pro.clubic.com/blog-forum-reseaux-sociaux/twitter/actualite-789402-twitter-pnotifie-utilisateurs-intrusions-gouvernementales.html'}
			Clubic : Twitter notifie ses utilisateurs des intrusions gouvernementales
	%li
		%a{href: 'http://www.lepoint.fr/high-tech-internet/twitter-vous-previent-si-un-gouvernement-surveille-votre-compte-14-12-2015-1989851_47.php'}
			Le Point : Twitter vous prévient si un gouvernement surveille votre compte
	%li
		%a{href: 'http://lexpansion.lexpress.fr/high-tech/twitter-des-comptes-victimes-de-cyber-espionnage_1745547.html'}
			L’Express : Twitter: des comptes victimes de cyber-espionnage
	%li
		%a{href: 'http://hightech.bfmtv.com/fai/twitter-alerte-des-utilisateurs-qu-un-etat-tente-d-espionner-leur-compte-936649.html'}
			BFM TV : Twitter alerte des utilisateurs qu'un État tente d'espionner leur compte
	%li
		%a{href: 'http://www.europe1.fr/technologies/twitter-previent-des-utilisateurs-quun-gouvernement-essaye-dacceder-a-leur-compte-2635227'}
			Europe 1 : Twitter prévient des utilisateurs qu'un gouvernement essaye d'accéder à leur compte
	%li
		%a{href: 'http://www.lemonde.fr/pixels/article/2015/12/13/twitter-previent-des-utilisateurs-qu-un-etat-tente-de-s-infiltrer-dans-leur-compte_4830764_4408996.html'}
			Le Monde : Twitter prévient des utilisateurs qu’un Etat tente de s’infiltrer dans leurs comptes
	%li
		%a{href: 'http://www.directmatin.fr/hi-tech/2015-12-15/twitter-previent-ses-utilisateurs-victimes-despionnage-718231'}
			Direct Matin : Twitter prévient ses utilisateurs victimes d'espionnage
	%li
		%a{href: 'http://www.arretsurimages.net/breves/2015-12-14/Twitter-previent-ses-utilisateurs-qu-ils-ont-pu-etre-cibles-par-un-gouvernement-id19525'}
			Arrêt sur Images : Twitter prévient ses utilisateurs qu'ils ont pu être "ciblés" par un gouvernement
	%li
		%a{href: 'http://www.huffpostmaghreb.com/2015/12/14/twitter-piratage-securite_n_8803160.html'}
			Huffington Post Maghreb : Twitter vous préviendra si votre compte a été piraté par un Etat
	%li
		%a{href: 'http://www.developpez.com/actu/93851/Twitter-previent-les-utilisateurs-lorsqu-un-gouvernement-veut-espionner-leurs-comptes-que-pensez-vous-de-telles-mesures/'}
			Developpez.com : Twitter prévient les utilisateurs lorsqu'un gouvernement veut espionner leurs comptes
	%li
		%a{href: 'https://www.lesaffaires.com/techno/technologie-de-l-information/twitter-victime-d-une-cyberattaque/584105'}
			Les Affaires : Twitter victime d'une cyberattaque
	%li
		%a{href: 'http://www.generation-nt.com/twitter-securite-compte-espionnage-alerte-actualite-1922711.html'}
			Génération NT : Sécurité : Twitter avertit les utilisateurs quand un Etat veut infiltrer leur compte
	%li
		%a{href: 'http://datanews.levif.be/ict/twitter-informe-des-utilisateurs-sur-du-piratage-de-la-part-d-un-pays/article-normal-440923.html'}
			Data News : Twitter informe des utilisateurs sur du piratage de la part d'un pays
	%li
		%a{href: 'http://www.itespresso.fr/twitter-previent-vous-etes-sous-surveillance-etat-116291.html'}
			IT Espresso : Twitter prévient : « Vous êtes peut-être sous surveillance d’Etat »
	%li
		%a{href: 'https://www.lesnewseco.fr/2015/12/14/science-high-tech/twitter-previendra-compte-a-ete-surveille-etat-7530.html'}
			Les News Eco : Twitter vous prévient si votre compte est mis sous surveillance par un Etat !
	%li
		%a{href: 'http://www.francemobiles.com/actualites/twitter-notifications-envoyees-lorsqu-un-compte-est-espionne-par-un-etat-15770.html'}
			France Mobiles : Twitter met en place des notifications lorsqu'un compte est espionné par un Etat
	%li
		%a{href: 'http://www.lessentiel.lu/fr/hi_tech/actualites/story/Twitter-victime-d-une-grosse-faille-de-securite--19752775'}
			L’Essentiel : Twitter victime d'une grosse faille de sécurité ?
	%li
		%a{href: 'http://www.infos-mobiles.com/compte-twitter/twitter-avertit-les-utilisateurs-cibles-par-des-attaques-soutenues-par-letat/110703'}
			Infos Mobiles : Twitter avertit les utilisateurs ciblés par des attaques soutenues par l’État
	%li
		%a{href: 'http://www.actuhightech.com/2015/12/15/internet/etat-espionne-compte-twitter-lance-alerte-5955.html'}
			Actu High Tech : Un État espionne votre compte ? Twitter lance une alerte
	%li
		%a{href: 'http://www.leral.net/Twitter-a-averti-certains-utilisateurs-que-leur-compte-a-pu-etre-pirate_a160558.html'}
			Leral : Twitter a averti certains utilisateurs que leur compte a pu être piraté
