%b#en English
%ul
	%li
		20/01/2016
		%ul
			%li
				threatpost
				%a{href: 'https://threatpost.com/twitters-silence-deafening-on-state-sponsored-attacks/115937/'} Twitter’s Silence Deafening on State-Sponsored Attacks
	%li
		19/01/2016
		%ul
			%li
				Motherboard
				%a{href: 'https://motherboard.vice.com/read/targets-of-state-sponsored-attack-want-answers-from-twitter'} Targets Of 'State Sponsored Attack' Want Answers From Twitter
	%li
		17/12/2015
		%ul
			%li
				Cyber Defense Magazine
				%a{href: 'http://www.cyberdefensemagazine.com/twitter-warns-victims-of-state-sponsored-attacks/'} Twitter warns victims of state-sponsored attacks
	%li
		15/12/2015
		%ul
			%li
				CBS News
				%a{href: 'http://www.cbsnews.com/news/some-twitter-accounts-may-be-targets-of-state-sponsored-hackers/'} Some Twitter accounts may be targets of "state-sponsored" hackers
			%li
				Tech News World
				%a{href: 'http://www.technewsworld.com/story/82879.html'} Twitter Alerts Users to State-Sponsored Cyberattack Threat
			%li
				TechNews Today YT-Channel
				%a{href: 'https://www.youtube.com/watch?v=48_8atXZ990'} 'State Sponsored Attacks' on Twitter Users: Tech News Today 1408 [YT-VIDEO]
	%li
		14/12/2015
		%ul
			%li
				BGR
				%a{href: 'https://bgr.com/2015/12/14/twitter-state-sponsored-attacks-alert/'} Twitter begins sending out alerts to victims of state-sponsored attacks
			%li
				Ars Technica
				%a{href: 'http://arstechnica.com/tech-policy/2015/12/beware-of-state-sponsored-hackers-twitter-warns-dozens-of-users/'} Beware of state-sponsored hackers, Twitter warns dozens of users
			%li
				Fast Company
				%a{href: 'https://www.fastcompany.com/3054613/fast-feed/twitter-now-alerts-users-to-state-sponsored-attacks'} Twitter Now Alerts Users To State-Sponsored Attacks
			%li
				The Guardian
				%a{href: 'http://www.theguardian.com/technology/2015/dec/14/twitter-warns-users-hacked-state-sponsored-actors'} Twitter warns users they may have been hacked by 'state-sponsored actors'
			%li
				Threat Post
				%a{href: 'https://threatpost.com/twitter-warns-some-users-of-nation-state-attacks/115633/'} Twitter Warns Some Users of Nation-State Attacks
			%li
				Fortune
				%a{href: 'http://fortune.com/2015/12/14/twitter-state-sponsored-hacks/'} Twitter Warns Some Users of Possible 'State-Sponsored' Hacks
			%li
				RT
				%a{href: 'https://www.rt.com/news/325828-twitter-warning-state-hacking/'} Twitter warns of 'state-sponsored' attacks designed to obtain sensitive data
			%li
				Gizmodo
				%a{href: 'http://gizmodo.com/twitter-is-warning-users-they-may-be-targets-of-state-s-1747871905'} Twitter Is Warning Users They May Be Targets of 'State-Sponsored' Hacks
			%li
				Al Jazeera
				%a{href: 'http://www.aljazeera.com/news/2015/12/twitter-warns-state-sponsored-attacks-time-151214032016261.html'} Twitter warns of state-sponsored attacks for first time
			%li
				Tripwire
				%a{href: 'http://www.tripwire.com/state-of-security/security-data-protection/twitter-state-sponsored-hacking/'} Twitter Warns Users of Possible ‘State-Sponsored’ Attacks
			%li
				Sophos
				%a{href: 'https://nakedsecurity.sophos.com/2015/12/14/twitter-users-targeted-in-possible-state-sponsored-attacks/'} Twitter users targeted in possible state-sponsored attacks
	%li
		13/12/2015
		%ul
			%li
				Reuters
				%a{href: 'http://www.reuters.com/article/twitter-hack-idUSL1N14303L20151214'} Twitter warns some users of possible state-sponsored cyber attack
			%li
				PC Mag
				%a{href: 'http://www.pcmag.com/article2/0,2817,2496582,00.asp'} Twitter Notifies Some Users About State-Sponsored Attacks
	%li
		12/12/2015
		%ul
			%li
				The Verge
				%a{href: 'http://www.theverge.com/2015/12/12/9931178/twitter-state-sponsored-attack'} Twitter users targeted by state-sponsored attackers
			%li
				Engadget
				%a{href: 'http://www.engadget.com/2015/12/12/twitter-warns-users-of-state-sponsored-attacks/'} Twitter warns users targeted by state-sponsored attacks
	%li
		11/12/2015
		%ul
			%li
				Motherboard
				%a{href: 'http://motherboard.vice.com/read/twitter-told-a-bunch-of-users-they-may-be-targets-of-a-state-sponsored-attack'} Twitter Told a Bunch of Users They May Be Targets of a 'State Sponsored Attack'
%b#fr Français
%ul
	%li
		19/01/2016
		%ul
			%li
				ZDNet
				%a{href: 'http://www.zdnet.fr/actualites/twitter-et-les-attaques-etatiques-beaucoup-de-bruit-pour-rien-39831364.htm'} Twitter et les attaques étatiques : beaucoup de bruit pour rien ?
	%li
		15/12/2015
		%ul
			%li
				Europe 1
				%a{href: 'http://www.europe1.fr/technologies/twitter-previent-des-utilisateurs-quun-gouvernement-essaye-dacceder-a-leur-compte-2635227'} Twitter prévient des utilisateurs qu'un gouvernement essaye d'accéder à leur compte
			%li
				France Info
				%a{href: 'http://www.franceinfo.fr/emission/nouveau-monde/2015-2016/des-comptes-twitter-surveilles-par-un-etat-15-12-2015-07-08'} Des comptes Twitter surveillés "par un Etat"
			%li
				Actu High Tech
				%a{href: 'http://www.actuhightech.com/2015/12/15/internet/etat-espionne-compte-twitter-lance-alerte-5955.html'} Un État espionne votre compte ? Twitter lance une alerte
	%li
		14/12/2015
		%ul
			%li
				Les News Éco
				%a{href: 'https://www.lesnewseco.fr/2015/12/14/science-high-tech/twitter-previendra-compte-a-ete-surveille-etat-7530.html'} Twitter vous prévient si votre compte est mis sous surveillance par un Etat !
			%li
				Arrêt sur Images
				%a{href: 'http://www.arretsurimages.net/breves/2015-12-14/Twitter-previent-ses-utilisateurs-qu-ils-ont-pu-etre-cibles-par-un-gouvernement-id19525'} Twitter prévient ses utilisateurs qu'ils ont pu être "ciblés" par un gouvernement
			%li
				Data News
				%a{href: 'http://datanews.levif.be/ict/twitter-informe-des-utilisateurs-sur-du-piratage-de-la-part-d-un-pays/article-normal-440923.html'} Twitter informe des utilisateurs sur du piratage de la part d'un pays
			%li
				IT Espresso
				%a{href: 'http://www.itespresso.fr/twitter-previent-vous-etes-sous-surveillance-etat-116291.html'} Twitter prévient : « Vous êtes peut-être sous surveillance d’Etat »
			%li
				Huffington Post Maghreb
				%a{href: 'http://www.huffpostmaghreb.com/2015/12/14/twitter-piratage-securite_n_8803160.html'} Twitter vous préviendra si votre compte a été piraté par un Etat
			%li
				Leral
				%a{href: 'http://www.leral.net/Twitter-a-averti-certains-utilisateurs-que-leur-compte-a-pu-etre-pirate_a160558.html'} Twitter a averti certains utilisateurs que leur compte a pu être piraté
			%li
				Le Point
				%a{href: 'http://www.lepoint.fr/high-tech-internet/twitter-vous-previent-si-un-gouvernement-surveille-votre-compte-14-12-2015-1989851_47.php'} Twitter vous prévient si un gouvernement surveille votre compte
			%li
				L’Essentiel
				%a{href: 'http://www.lessentiel.lu/fr/hi_tech/actualites/story/Twitter-victime-d-une-grosse-faille-de-securite--19752775'} Twitter victime d'une grosse faille de sécurité ?
			%li
				Les Affaires
				%a{href: 'https://www.lesaffaires.com/techno/technologie-de-l-information/twitter-victime-d-une-cyberattaque/584105'} Twitter victime d'une cyberattaque
			%li
				L’Express
				%a{href: 'http://lexpansion.lexpress.fr/high-tech/twitter-des-comptes-victimes-de-cyber-espionnage_1745547.html'} Twitter: des comptes victimes de cyber-espionnage
			%li
				Le Parisien
				%a{href: 'http://www.leparisien.fr/high-tech/twitter-previent-certains-utilisateurs-que-leur-compte-a-pu-etre-pirate-14-12-2015-5374095.php'} Twitter prévient certains utilisateurs que leur compte a pu être piraté
			%li
				France Mobiles
				%a{href: 'http://www.francemobiles.com/actualites/twitter-notifications-envoyees-lorsqu-un-compte-est-espionne-par-un-etat-15770.html'} Twitter met en place des notifications lorsqu'un compte est espionné par un Etat
			%li
				Numerama
				%a{href: 'http://www.numerama.com/tech/134696-twitter-previent-des-activistes-francais-quun-etat-les-cible-peut-etre.html'} Twitter prévient des activistes français qu’un État les ciblerait
			%li
				ZDNet
				%a{href: 'http://www.zdnet.fr/actualites/twitter-alerte-ses-utilisateurs-quand-un-etat-cherche-a-les-espionner-39829726.htm'} Twitter alerte ses utilisateurs quand un Etat cherche à les espionner
			%li
				Clubic
				%a{href: 'http://pro.clubic.com/blog-forum-reseaux-sociaux/twitter/actualite-789402-twitter-pnotifie-utilisateurs-intrusions-gouvernementales.html'} Twitter notifie ses utilisateurs des intrusions gouvernementales
			%li
				Developpez.com
				%a{href: 'http://www.developpez.com/actu/93851/Twitter-previent-les-utilisateurs-lorsqu-un-gouvernement-veut-espionner-leurs-comptes-que-pensez-vous-de-telles-mesures/'} Twitter prévient les utilisateurs lorsqu'un gouvernement veut espionner leurs comptes
			%li
				Infos Mobiles
				%a{href: 'http://www.infos-mobiles.com/compte-twitter/twitter-avertit-les-utilisateurs-cibles-par-des-attaques-soutenues-par-letat/110703'} Twitter avertit les utilisateurs ciblés par des attaques soutenues par l’État
	%li
		13/12/2015
		%ul
			%li
				Génération NT
				%a{href: 'http://www.generation-nt.com/twitter-securite-compte-espionnage-alerte-actualite-1922711.html'} Sécurité : Twitter avertit les utilisateurs quand un Etat veut infiltrer leur compte
			%li
				BFM TV
				%a{href: 'http://hightech.bfmtv.com/fai/twitter-alerte-des-utilisateurs-qu-un-etat-tente-d-espionner-leur-compte-936649.html'} Twitter alerte des utilisateurs qu'un État tente d'espionner leur compte
			%li
				Direct Matin
				%a{href: 'http://www.directmatin.fr/hi-tech/2015-12-15/twitter-previent-ses-utilisateurs-victimes-despionnage-718231'} Twitter prévient ses utilisateurs victimes d'espionnage
			%li
				Le Figaro
				%a{href: 'http://www.lefigaro.fr/secteur/high-tech/2015/12/13/32001-20151213ARTFIG00052-twitter-previent-ses-utilisateurs-lorsqu-un-etat-veut-espionner-leur-compte.php'} Twitter prévient ses utilisateurs lorsqu'un État veut espionner leur compte
			%li
				Le Monde
				%a{href: 'http://www.lemonde.fr/pixels/article/2015/12/13/twitter-previent-des-utilisateurs-qu-un-etat-tente-de-s-infiltrer-dans-leur-compte_4830764_4408996.html'} Twitter prévient des utilisateurs qu’un Etat tente de s’infiltrer dans leurs comptes
%b#de Deutsch
%ul
	%li
		19/01/2016
		%ul
			%li
				Zeit
				%a{href: 'http://www.zeit.de/digital/internet/2016-01/twitter-hack-state-sponsored-attack'} Achtung, Sie wurden gehackt! Wir sagen aber nicht, von wem
	%li
		21/12/2015
		%ul
			%li
				Netzpolitik
				%a{href: 'https://netzpolitik.org/2015/statesponsoredactors-und-twitter-ueberwiegend-aktivisten-als-ziel/'} #StateSponsoredActors und Twitter: Überwiegend Aktivisten als Ziel
	%li
		14/12/2015
		%ul
			%li
				tech stage
				%a{href: 'http://www.techstage.de/news/Twitter-warnt-Nutzer-vor-Regierungshackern-3043582.html'} Twitter warnt Nutzer vor Regierungshackern
			%li
				Spiegel
				%a{href: 'http://www.spiegel.de/netzwelt/netzpolitik/twitter-warnt-bestimmte-nutzer-vor-hackerangriffen-a-1067693.html'} E-Mail-Benachrichtigung: Twitter warnt Nutzer gezielt vor Hackerangriff
			%li
				heise online
				%a{href: 'http://www.heise.de/security/meldung/Twitter-warnt-vor-staatlichen-Angriffen-auf-seine-Nutzer-3043237.html'} Twitter warnt vor staatlichen Angriffen auf seine Nutzer
%b#it Italiano
%ul
	%li
		19/01/2016
		%ul
			%li
				Infoaut
				%a{href: 'http://www.infoaut.org/index.php/blog/prima-pagina/item/16322-#statesponsoredactors-attivisti-spiati-dagli-stati-ma-avvisati-da-twitter-cosa-cè-dietro'} #StateSponsoredActors: attivisti spiati dagli Stati ma avvisati da Twitter. Cosa c'è dietro?
	%li
		15/12/2015
		%ul
			%li
				La Stampa
				%a{href: 'http://www.lastampa.it/2015/12/15/tecnologia/twitter-avvisa-alcuni-attivisti-siete-stati-attaccati-da-uno-stato-Nak0Z146XvH9y2lCPGe01K/pagina.html'} Twitter avvisa alcuni attivisti: “Siete stati attaccati da uno Stato” 
	%li
		14/12/2015
		%ul
			%li
				Rai
				%a{href: 'http://www.rainews.it/dl/rainews/articoli/Twitter-avverte-Cyber-attacchi-sponsorizzati-da-Stati-299c720d-b61f-4f3c-a6ff-5605a84af598.html'} Twitter avverte: "Cyber attacchi sponsorizzati da Stati"
%b#gr Ελληνικά
%ul
	%li
		14/12/2015
		%ul
			%li
				The TOC
				%a{href: 'http://www.thetoc.gr/diethni/article/twitter-i-kubernisi-exei-xakarei-to-logariasmo-sas'} Twitter: Η κυβέρνηση έχει χακάρει το λογαριασμό σας
			%li
				New Post
				%a{href: 'http://newpost.gr/kosmos/504111/apeilh-ypoklophs-dedomenwn-sto-twitter'} Προειδοποίηση στο Twitter για κρατικές κυβερνοεπιθέσεις
%b#nl Nederlands
%ul
	%li
		14/12/2015
		%ul
			%li
				NOS
				%a{href: 'http://nos.nl/artikel/2075096-nog-veel-onduidelijk-over-twitter-hack.html'} Nog veel onduidelijk over Twitter-hack
			%li
				
				%a{href: 'http://numrush.nl/2015/12/14/twitter-waarschuwt-gebruikers-als-ze-mogelijk-slachtoffers-zijn-van-staatshackers/'} Twitter waarschuwt gebruikers dat ze slachtoffers zijn van staatshackers
%b#pt Português
%ul
	%li
		14/12/2015
		%ul
			%li
				Brasil 247
				%a{href: 'https://www.brasil247.com/pt/247/midiatech/209472/Twitter-alerta-usu%C3%A1rios-sobre-poss%C3%ADveis-ataques-virtuais-de-governos.htm'} Twitter alerta usuários sobre possíveis ataques virtuais de governos
			%li
				SÁBADO
				%a{href: 'http://www.sabado.pt/ultima_hora/detalhe/twitter_avisa_utilizadores_de_ataque_informatico_apoiado_por_entidades_oficiais.html'} Twitter avisa utilizadores de ataque informático apoiado por entidades oficiais
%b#bg български език
%ul
	%li
		14/12/2015
		%ul
			%li
				INVESTOR.BG
				%a{href: 'http://www.investor.bg/socialni-mreji/454/a/twitter-predupredi-za-eventualna-hakerska-ataka-porychana-ot-pravitelstvo-207774/'} Twitter предупреди за евентуална хакерска атака, поръчана от правителство 
%b#no Norsk
%ul
	%li
		14/12/2015
		%ul
			%li
				digi.no
				%a{href: 'http://www.digi.no/sikkerhet/2015/12/14/twitter-advarer-om-statlig-hacking'} Twitter advarer om statlig hacking
			%li
				Dagens Næringsliv
				%a{href: 'https://www.dn.no/tekno/2015/12/14/1035/Sosiale-medier/twitter-advarer-om-statsstttet-hacking'} Twitter advarer om statsstøttet hacking
%b#pl Polski
%ul
	%li
		14/12/2015
		%ul
			%li
				Puls Biznesu
				%a{href: 'http://www.pb.pl/4390433,51193,twitter-ostrzega-przed-hakujacym-rzadem'} Twitter ostrzega przed hakującym rządem
			%li
				WP
				%a{href: 'http://tech.wp.pl/kat,1009785,title,Kolejny-serwis-spolecznosciowy-pada-ofiara-hakerow,wid,18043413,wiadomosc.html?ticaid=1161e1'} Kolejny serwis społecznościowy pada ofiarą hakerów
%b#fi Suomi
%ul
	%li
		14/12/2015
		%ul
			%li
				digitoday
				%a{href: 'http://www.digitoday.fi/tietoturva/2015/12/14/vakoojat-iskevat--twitter-varoittaa/201516521/66'} Vakoojat iskevät – Twitter varoittaa
%b#ru русский язык
%ul
	%li
		14/12/2015
		%ul
			%li
				Interfax
				%a{href: 'http://www.interfax.ru/world/484932'} Твиттер предупредил пользователей о возможном взломе аккаунтов
			%li
				SecurityLab.ru
				%a{href: 'http://www.securitylab.ru/news/477639.php'} Twitter предупредил пользователей о возможной кибератаке
%b#il עברית
%ul
	%li
		14/12/2015
		%ul
			%li
				pc.co.il
				%a{href: 'http://www.pc.co.il/featured/201836/'} מקום לדאגה: טוויטר מזהירה משתמשים שייתכן שהותקפו על ידי מדינה
%b#ro Română
%ul
	%li
		14/12/2015
		%ul
			%li
				Libertatea
				%a{href: 'http://www.libertatea.ro/detalii/articol/twitter-hackeri-retele-sociale-561162.html'} Avertisment! Una dintre cele mai cunoscute rețele sociale, atacată de hackeri. Sute de mii de români pot fi afectați!
%b#vn Tiếng Việt
%ul
	%li
		14/12/2015
		%ul
			%li
				DANTRI
				%a{href: 'http://dantri.com.vn/suc-manh-so/twitter-canh-bao-kha-nang-chinh-phu-my-tan-cong-tai-khoan-nguoi-dung-20151214083552663.htm'} Twitter cảnh báo khả năng chính phủ Mỹ tấn công tài khoản người dùng
%b#tr Türkçe
%ul
	%li
		14/12/2015
		%ul
			%li
				Habertürk
				%a{href: 'http://www.haberturk.com/ekonomi/teknoloji/haber/1166894-twitterdan-siber-saldirilara-karsi-uyari'} Twitter'dan siber saldırılara karşı uyarı
			%li
				BirGün
				%a{href: 'http://www.birgun.net/haber-detay/twitter-uyardi-hukumet-destekli-korsanlara-dikkat-97796.html'} Twitter uyardı: Hükümet destekli korsanlara dikkat
%b#es Español
%ul
	%li
		14/12/2015
		%ul
			%li
				Diario Popular
				%a{href: 'http://www.diariopopular.com.ar/notas/245227-extrana-advertencia-twitter-alerto-usuarios'} Extraña advertencia de Twitter para sus usuarios
			%li
				PORTAL TIC (europa press)
				%a{href: 'http://www.europapress.es/portaltic/socialmedia/noticia-twitter-alerta-usuarios-ser-objeto-ciberataques-parte-estado-20151214103552.html'} Twitter alerta a usuarios de ser objeto de ciberataques por parte del Estado
%b#fa فارسی
%ul
	%li
		14/12/2015
		%ul
			%li
				Shafaf
				%a{href: 'http://www.shafaf.ir/fa/news/367422'} توییتر از حملات دولتی به کاربرانش خبر داد 
%b#ar العربية
%ul
	%li
		14/12/2015
		%ul
			%li
				arabsun.net
				%a{href: 'http://arabsun.net/world-news/11189.html'} إنفراد «تويتر» يحذر مستخدمين من اختراق الحكومات لحساباتهم
